.ingredient-filter {
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.ingredient-filter h5 {
    font-size: 2rem;
    color: rgb(55, 138, 94);
    margin-bottom: 10px;
}

.form-check {
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    font-size: 1.2rem;
    color: rgb(55, 138, 94);
}

.form-check-input:checked {
    background-color: rgb(111, 212, 158);
    border-color: rgb(55, 138, 94);
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}