.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-item.active .page-link {
    background-color: #008000;
    border-color: #008000;
    color: #fff;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 14px;
    outline: none;
    box-shadow: none;
}

.page-link {
    color: #008000;
    border: 1px solid #008000;
    background-color: #f8f9fa;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
    padding: 6px 10px;
    margin: 0 3px;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
}

.page-link:hover {
    background-color: #006400;
    color: #fff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #f8f9fa;
    border-color: #dee2e6;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 14px;
}

.page-item:not(.active) .page-link {
    border-radius: 4px;
    padding: 6px 10px;
    margin: 0 3px;
}

.page-item:not(.active) .page-link:hover {
    background-color: #006400;
    color: #fff;
}