.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-item.active .page-link {
    background-color: rgb(0, 50, 25);
    /* Dark green for active state */
    border-color: rgb(0, 50, 25);
    color: #fff;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 14px;
    outline: none;
    box-shadow: none;
}

.page-link {
    color: #fff;
    /* White text to contrast with the green */
    border: 1px solid rgb(0, 65, 31);
    background-color: rgb(55, 138, 94);
    /* Middle green for non-active state */
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
    padding: 6px 10px;
    margin: 0 3px;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
}

.page-link:hover {
    background-color: rgb(35, 104, 71);
    /* Slightly darker green for hover state */
    color: #fff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #f8f9fa;
    border-color: #dee2e6;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 14px;
}

.page-item:not(.active) .page-link {
    border-radius: 4px;
    padding: 6px 10px;
    margin: 0 3px;
}

.page-item:not(.active) .page-link:hover {
    background-color: rgb(35, 104, 71);
    /* Slightly darker green for hover state */
    color: #fff;
}