.recipe-detail {
    padding: 20px;
    font-family: "Charmonman", cursive;
    color: #333;
    /* background-color: #f9f9f9; */
}

.recipe-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c3e50;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-family: "Charmonman", cursive;
}

.recipe-detail-image {
    width: 100%;
    max-width: 500px;
    /* Maksimalna širina slike */
    max-height: 300px;
    /* Maksimalna visina slike */
    object-fit: cover;
    /* Omogućava da slika zadrži svoj odnos širine i visine */
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.recipe-detail-image:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.recipe-detail-description {
    font-size: 1.3rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}


.ingredient-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.ingredient-tag {
    background-color: #e74c3c;
    color: #fff;
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    width: calc(50% - 10px);
}

.ingredient-tag:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.table {
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Charmonman", cursive;
}

.table-bordered {
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9rem;
    color: #2c3e50;
    background-color: #ecf0f1;
}

.table th {
    font-weight: bold;
    background-color: #bdc3c7;
    color: #000000;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}