/* RecipeDetail.css */

.recipe-detail {
    padding: 20px;
    font-family: 'Rubik', sans-serif;
}

.recipe-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.recipe-detail-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.recipe-detail-description {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}

.recipe-detail-ingredients {
    font-size: 1.1rem;
    color: #555;
}

.ingredient-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.ingredient-tag {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    width: 100%;
}

.ingredient-tag:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.recipe-detail-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}


.table {
    width: 100%;
    margin-top: 20px;
}

.table-bordered {
    border: 2px solid #ddd;
}

.table th,
.table td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #fff;
}